body{
    background-color: #f1dabf;
}
table, th, td {
    border: 1px solid black;
}
h3{
    text-align:justify;
}
*img{
    display:flex
    
}
.pics{
    position: relative;
    top: 18px;
    left: 15px;
}